doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title Ismael Y Santi
    body 
        include ./header.pug
        main
            section.main-container
                h1 #{section}
                p #{paragraph1}
                p #{paragraph2}
                img(src=img1, alt="img1")
                p #{paragraph3}
                img(src=img2, alt="img2")
                p #{paragraph4}

        //- include ./footer.pug
        //- script(src="script.js") 